/* COMMON */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.img {
  width: 100%;
  display: block;
}

/* MAIN */

/* colonna immagine */
.ms_hero_img {
  position: relative;
}

.ms_hero_img img {
  width: 100%;
  object-fit: cover;
}
.heart {
  color: white;
  position: absolute;
  top: 0;
  right: 30px;
  font-size: 3rem;
}

.circles > * {
  display: inline-block;
  vertical-align: middle;
}
.circle {
  width: 1.3rem;
  height: 1.3rem;
  background-color: green;
  border-radius: 50%;
  padding-right: 5px;
}
.reviews {
  padding-left: 5px;
  vertical-align: middle;
}
.ms_green_dots a {
  color: black;
  text-decoration-color: gray;
  text-decoration: dotted;
  vertical-align: text-bottom;
}

.ms_best_offer {
  /* todo test */
  background-color: aqua;
}

/*** MEDIA QUERIES ***/
@media screen and (min-width: 992) {
  .ms_smaller_container .ms_best_offer {
    order: 2;
  }
  .ms_smaller_container .ms_green_dots {
    order: 5;
  }
}
